.report-filter {
  border: 0.0625rem solid lightgrey;
}
.report-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.625rem 0.625rem 0rem 0.625rem;
  border: 0.0625rem solid lightgrey;
  padding: 0.125rem;
  color: var(--omrs-color-interaction);
  fill: var(--omrs-color-interaction);
}

.report-filter-container span:nth-child(1) {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.925rem;
}

.report-filter-container span:nth-child(2) {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hide {
  display: none;
}