.reportButton {
  display: flex;
  justify-content: flex-end;
  margin: 0.625rem;
}

.reportButton > button {
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0rem 0.625rem;
  padding: 0.625rem;
}

.inputContainer label {
  padding: 0.125rem 0rem;
  font-weight: 500;
}

.inputContainer input {
  outline: none;
  border: 0.0625rem solid lightgrey;
  padding: 0.625rem;
}
.dashInputContainer {
  display: flex;
  flex-direction: column;
  margin: 0rem 0.625rem;
  padding: 0.625rem;
  width: 100%;
}
.dashInputContainer label {
  padding: 0.125rem 0rem;
  font-weight: 500;
}

.dashInputContainer input {
  outline: none;
  border: 0.0625rem solid lightgrey;
  padding: 0.625rem;
}
.error {
  display: flex;
  align-items: center;
  color: var(--omrs-color-danger);
  border: 0.0625rem solid var(--omrs-color-danger);
  margin: 0.125rem;
  justify-content: space-between;
  padding: 0.625rem;
}

.error > div {
  display: flex;
  align-items: center;
  color: var(--omrs-color-danger);
  margin: 0.125rem;
}

.dataTableContainer {
  width: 100%;
  overflow: scroll;
  margin: 0 0 6rem 0;
  padding: 0;
  min-height: 30rem;
  height: fit-content;
  position: relative;
}

.dataTableStyles {
  width: 100%;
  overflow: scroll;
  margin-bottom: 3rem;
}

.dataTableStyles th,
td {
  min-width: fit-content;
  width: fit-content;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.reportContainer {
  margin: 0;
  min-height: 42rem;
  position: relative;
  overflow: scroll;
}
.report-filters {
  width: 100%;
  display: flex;
  flex-direction: row;
}

:global(.bx--data-table-content){
  height: 26rem;
  overflow: scroll;
}
